PyQt5>=5.15.11
numpy>=2.3.0
opencv-python>=4.11.0.86
pillow>=11.2.1
fuzzywuzzy>=0.18.0
screeninfo>=0.8.1
matplotlib>=3.10.3
packaging>=25.0
PyAutoGUI>=0.9.54
QtAwesome>=1.4.0
requests>=2.32.3
easyocr>=1.7.2